# ---------------------------
# Visual Studio
# ---------------------------
.vs/
.vs/**

# Visual Studio Code
.vscode/
.vscode/**

# Rider
.idea/
.idea/**

# Build output
bin/
obj/
[Bb]in/
[Oo]bj/
Debug/
Release/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.iml
*.local.json

# Backups, logs, crash
*.bak
*.tmp
*.log
*.dmp

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
artifacts/

# dotnet tools
.dotnet_tool/

# ReSharper
_ReSharper*/
*.ReSharper

# Test results
TestResults/

# Databases
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Translation backups
Old/
old.json

# System files
Thumbs.db
.DS_Store
*~
