@page
@inject IStringLocalizer<ErrorModel> _localizer
@model ErrorModel
@{
    ViewData["Title"] = _localizer["Error"];
}

<h1 class="text-danger">@_localizer["Error"]:</h1>
<h2 class="text-danger">@_localizer["An error occurred while processing your request."]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


