@page
@model IndexModel
@inject IStringLocalizer<IndexModel> _localizer;
@{
    ViewData["Title"] = _localizer["Afrowave documentation"];
}

<div class="text-center">
    <h2>@_localizer["test"]</h2>
    
</div>
