@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
	--navbar: #111131;
	--navbar-text: #aa0033;
	--navbar-border: #770033;
	--background: #121221;
	--text: #e0e0f3;
	--dimmed: #353549;
	--highlight: #ffffff;
	--border: #e0e0f3;
	--color2-background: #050515;
	--color2-text: #d5d5e5;
	--color2-border: #d5d5e5;
	--help-text: #03dac6;
	--help-background: #110022;
	--help-border: #03dac6;
	--table-th-background: #110022;
	--table-th-text: #ccccee;
	--table-row-background: #000011;
	--table-row-text: #aaaacc;
	--table-border: #03dac6;
	--input-border: #AAAAAA;
	--input-background: #111122;
	--input-text: #AAAAAA;
	--input-placeholder: #999999;
	--link: #cf6600;
	--link-hover: #333355;
	--link-active: #1f1f5f;
	--link-visited: #202020;
	--disabled-background: #555566;
	--disabled-text: #aaaaff;
	--success: #11aa11;
	--info: #1111aa;
	--warning: #aa2200;
	--error: #aa0000;
	--button-border: #AAAAAA;
	--button-background: #111122;
	--button-text: #AAAAAA;
	--button-hover: #03dac6;
	--font-face: "Ubuntu", sans-serif;
}
