@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
	--navbar: #312111;
	--navbar-text: #aa3300;
	--navbar-border: #770000;
	--background: #211212;
	--text: #e0e0f3;
	--header: #ff8050;
	--dimmed: #353549;
	--highlight: #ffffff;
	--border: #e0e0f3;
	--color2-background: #050515;
	--color2-text: #a5a5a5;
	--color2-border: #554444;
	--help-text: #03dac6;
	--help-background: #110022;
	--help-border: #03dac6;
	--table-th-background: #110022;
	--table-th-text: #ccccee;
	--table-row-background: #000011;
	--table-row-alternate-background: #060616;
	--table-row-text: #aaaacc;
	--table-border: #03dac6;
	--input-border: #AAAAAA;
	--input-background: #111122;
	--input-text: #AAAAAA;
	--input-placeholder: #999999;
	--link: #cf6600;
	--link-hover: #333355;
	--link-active: #5f1f1f;
	--link-visited: #202020;
	--disabled-background: #555566;
	--disabled-text: #aaaaff;
	--success: #11aa11;
	--info: #3333dd;
	--warning: #aa2200;
	--error: #aa0000;
	--button-border: #AAAAAA;
	--button-background: #111122;
	--button-text: #AAAAAA;
	--button-hover: #03dac6;
	--font-face: "Ubuntu", sans-serif;
	--border-radius: 0px;
}
