<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Afrowave.SharedTools.Docs</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dark-theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <div id="app">
        <!-- Horní lišta -->
        <nav id="top-bar" class="navbar fixed-top">
            <div class="container-fluid">
                <a href="#" id="menu-toggle" class="btn">
                    <span class="emoji">📑</span>
                </a>
                <div id="top-icons" class="d-flex">
                    <!-- Ikony budou dynamicky naplněny z JSON -->

                </div>
            </div>
        </nav>

        <!-- Postranní navigace -->
        <div id="side-nav" class="sidenav">
            <ul id="nav-items" class="nav flex-column">
                <!-- Navigační položky budou dynamicky naplněny z JSON -->
            </ul>
        </div>

        <!-- Hlavní obsah -->
        <main id="main-content" class="main-content">
            <div class="container-fluid mt-5 pt-4">
               @RenderBody()
            </div>
        </main>
        <footer class="footer">
            footer
        </footer>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
